Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
python-dotenv
psycopg2-binary
gunicorn
werkzeug
resend
pandas
numpy
matplotlib
seaborn
fpdf
scikit-learn
xgboost
folium
tensorflow-cpu
statsmodels
PyJWT
Flask-Mail
imblearn